$primary:#6f2fcb !default;
$secondary:#d3d3d3 !default;
$success:#4BB543 !default;
$danger:#BD0000 !default;
$dark:#041013 !default;
$light:#f5fafb !default;
$accent:#42b4ee !default;
$info:#0082FF !default;
$warning:#ffcc00 !default;


//buttons
$button-text-light:#ffffff !default;
$button-text-dark:#000 !default;


//card

$card-bg-color:#edeeee !default;
$card-border-color:#b8bcbe !default;

//divider

$divider-color:$secondary;

//inputs
$input-bg-color:$light !default;
$input-border-color: $dark !default;
$input-hover-color: $accent !default;
$input-focus-color:$accent !default;
$input-error-color:$danger !default;
$input-asterisk-color:$danger !default;
$input-placeholder-color:#495057 !default;
$input-icon-color:#3e464a !default;
$input-color:$dark !default;



//select
$select-bg-color:$light !default;
$select-border-color:$dark !default;
$select-hover-color: $accent !default;
$select-color:$dark !default;
$select-placeholder-color:#495057 !default;
$select-item-hover-color:#E9E9E9 !default;
$select-multivalue-bg-color:#E9E9E9 !default;


//checkbox

$checkbox-accent-color:$dark;

//list-items
$list-item-hover-color:#E9E9E9 !default;


//loading-spinner
$loading-spinner-default-color:$accent !default;

//modals

$modal-bg-color:#ffffff !default;
$modal-close-buton-bg:#bdc3c7 !default;
$modal-close-icon-color: $dark !default;


//tabs

$tab-border-color:$secondary !default;



$theme-colors:("primary":$primary,
    "secondary":$secondary,
    "success":$success,
    "danger":$danger,
    "dark":$dark,
    "light":$light,
    "accent":$accent,
    "warning":$warning,
    "info":$info) !default;


$colors:("primary":$primary,
    "secondary":$secondary,
    "success":$success,
    "danger":$danger,
    "dark":$dark,
    "light":$light,
    "accent":$accent,
    "warning":$warning,
    "info":$info,
    "button-text-light":$button-text-light,
    "button-text-dark":$button-text-dark,
    "card-bg-color":$card-bg-color,
    "card-border-color":$card-border-color,
    "divider-color":$divider-color,
    "input-bg-color":$input-bg-color,
    "input-border-color":$input-border-color,
    "input-hover-color":$input-hover-color,
    "input-focus-color":$input-focus-color,
    "input-error-color":$input-error-color,
    "input-asterisk-color":$input-asterisk-color,
    "input-placeholder-color":$input-placeholder-color,
    "input-icon-color":$input-icon-color,
    "input-color":$input-color,
    "select-bg-color":$select-bg-color,
    "select-border-color":$select-border-color,
    "select-hover-color":$select-hover-color,
    "select-color":$select-color,
    "select-placeholder-color":$select-placeholder-color,
    "select-item-hover-color":$select-item-hover-color,
    "select-multivalue-bg-color":$select-multivalue-bg-color,
    "checkbox-accent-color":$checkbox-accent-color,
    "list-item-hover-color":$list-item-hover-color,
    "loading-spinner-default-color":$loading-spinner-default-color,
    "modal-bg-color":$modal-bg-color,
    "modal-close-buton-bg":$modal-close-buton-bg,
    "modal-close-icon-color":$modal-close-icon-color,
    "tab-border-color":$tab-border-color) !default;

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px) !default;

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px) !default;


$spacer: 1rem !default;

$spacers: (0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
) !default;

$gutters: $spacers !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;